<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>487132405089-d91gbv6sifuc1a53oe6bdsajebuacdg3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.487132405089-d91gbv6sifuc1a53oe6bdsajebuacdg3</string>
	<key>API_KEY</key>
	<string>AIzaSyBZEXWUp2pnYJ4d3KdX_lU_jBKDc6T9slw</string>
	<key>GCM_SENDER_ID</key>
	<string>487132405089</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatApp</string>
	<key>PROJECT_ID</key>
	<string>my-application-10-d18d9</string>
	<key>STORAGE_BUCKET</key>
	<string>my-application-10-d18d9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:487132405089:ios:9e0bdd7ea00067c8b83920</string>
	<key>DATABASE_URL</key>
	<string>https://my-application-10-d18d9-default-rtdb.firebaseio.com</string>
</dict>
</plist>